<% provide(:title, 'Users') %>
<h1>Users</h1>
<div><%= render 'users/search' %></div>

<div>
<% form_tag users_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
</div>
<br>
<div>


<div>
  <ul class="users">
    <h5 style="display:inline">Sort By:</h5>
    <tr>
      <th><%= sortable "name" %></th>
    </tr>
    <%= render @users %>
  </ul>
  <span class="pagination"><%= will_paginate @users, container: false %></span>
</div>