<% provide(:title, @user.name) %>
<div class="box">
  <h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
  </h1>
</div>

<div class="box">
  <h3>What <%= @name_for_wants %> Looking For (<%= @user.wants.count %>)</h3>
  <div>
    <% if @user.wants.any? %>
      <ol class="wants">
        <%= render @wants %>
      </ol>
      <%= will_paginate @wants %>
    <% else %>
      <p><%= @name_none_posted %> not posted any topics of interest.</p>
    <% end %>
  </div>
    <% if @user == current_user %>
      <div>
        <%= render 'shared/want_form' %>
      </div>
    <% end %>
</div>

<div class="box">
  <h3>Specialties (<%= @user.skills.count %>)</h3>
  <div>
    <% if @user.skills.any? %>
      <ol class="skills">
        <%= render @skills %>
      </ol>
      <%= will_paginate @skills %>
    <% else %>
      <p><%= @name_none_posted %> not posted any specialties.</p>
    <% end %>
  </div>
  <% if @user == current_user %>
    <div>
      <%= render 'shared/skill_form' %>
    </div>
  <% end %>
</div>

<div class="box">
  <h3>Preferred Methods of Communication (<%= @user.communications.count %>)</h3>
  <div>
    <% if @user.communications.any? %>
      <ol class="communications">
        <%= render @communications %>
      </ol>
      <%= will_paginate @communications %>
    <% else %>
        <p><%= @name_none_posted %> not posted any preferred methods of communication.</p>
    <% end %>
  </div>
  <% if @user == current_user %>
    <div>
      <%= render 'shared/communication_form' %>
    </div>
  <% end %>
</div>
