<% provide(:title, @user.name) %>

<div class="box">
  <h2>
    <%= gravatar_for @user %>
    <%= @user.name %>
  </h2>
</div>

<!-- only displays user's email to the user whose profile it is and admins -->
<% if (@user == current_user) || current_user.try(:admin?) %>
  <div class="box">
    <%= @user.email %>
  </div>
  <%= link_to "delete account", :user, method: :delete,
                                  data: { confirm: "You sure?" } %>
<% end %>

<!-- partials to show how brief stats for follower/following and event attendance -->
<section class="attendance">
  <%= render 'shared/stats' %>
</section>
<section class="attendance">
  <%= render 'follow_form' if signed_in? %>
</section>
<section class="attendance">
  <%= render 'shared/user_attendance_stats' %>
</section>

<!-- form for user to post messages to their own profile -->
<div style="clear:both">
  <% if @user == current_user %>
    <div class="row">
      <aside class="col-md-4">
        <section class="post_form">
          <%= render 'shared/post_form' %>
        </section>
      </aside>
    </div>
  <% end %>

<!-- user's posts -->
  <% if @user.posts.any? %>
    <h3>Posts (<%= @user.posts.count %>)</h3>
    <ul class="users">
      <%= render @posts %>
    </ul>
    <%= will_paginate @posts %>
  <% end %>
</div>


<!-- menu to show the user's events, interests, specialties, and shared methods of communication, toggles so only one is visible at a time -->
<div class="menu">
  <a href="javascript:HideAllShowOne('userevents')"><%= "#{@name_possessive}" %> Events</a> |
  <a href="javascript:HideAllShowOne('userwants')"><%= "#{@name_possessive}" %> Interests</a> |
  <a href="javascript:HideAllShowOne('userskills')"><%= "#{@name_possessive}" %> Specialties</a> |
  <a href="javascript:HideAllShowOne('usercomm')"><%= "#{@name_possessive}" %> Preferred Communications</a>
</div>
<div class="box">
  <div id="userevents" style="display:none;">
    <h3><%= "#{@name_possessive} Events" %> (<%= @user.events.count %>)</h3>
    <div>
      <% if @user.events.any? %>
        <ul>
          <%= render @events %>
        </ul>
        <span class="pagination"><%= will_paginate @events, container: false %></span>
      <% else %>
        <p><%= @name_none_posted %> not posted events.</p>
      <% end %>
      <span><%= link_to 'New Event', new_event_path %></span>
      <span><%= link_to 'Find Events', events_path %></span>
    </div>
  </div>

  <div id="userwants" class="box" style="display:none;">
    <h3><%= "#{@name_possessive} Interests" %> (<%= @user.wants.count %>)</h3>
    <div>
      <% if @user.wants.any? %>
        <ul>
          <%= render @wants %>
        </ul>
        <span class="pagination"><%= will_paginate @wants, container: false %></span>
      <% else %>
        <p><%= @name_none_posted %> not posted any topics of interest.</p>
      <% end %>
    </div>
      <% if @user == current_user %>
        <div>
          <%= render 'shared/want_form' %>
        </div>
      <% end %>
  </div>

  <div id="userskills" style="display:none">
    <h3><%= "#{@name_possessive} Specialties" %> (<%= @user.skills.count %>)</h3>
    <div>
      <% if @user.skills.any? %>
        <ul>
          <%= render @skills %>
        </ul>
        <span class="pagination"><%= will_paginate @skills, container: false %></span>
      <% else %>
        <p><%= @name_none_posted %> not posted any specialties.</p>
      <% end %>
    </div>
    <% if @user == current_user %>
      <div>
        <%= render 'shared/skill_form' %>
      </div>
    <% end %>
  </div>

  <div id="usercomm" style="display:none">
    <h3>Preferred Methods of Communication (<%= @user.communications.count %>)</h3>
    <div>
      <% if @user.communications.any? %>
        <ul class="communications">
          <%= render @communications %>
        </ul>
        <span class="pagination"><%= will_paginate @communications, container: false %></span>
      <% else %>
          <p><%= @name_none_posted %> not posted any preferred methods of communication.</p>
      <% end %>
    </div>
    <% if @user == current_user %>
      <div>
        <%= render 'shared/communication_form' %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
function HideContent(d) {
document.getElementById(d).style.display = "none";
}
function ShowContent(d) {
document.getElementById(d).style.display = "block";
}
function ReverseDisplay(d) {
if(document.getElementById(d).style.display == "none") { document.getElementById(d).style.display = "block"; }
else { document.getElementById(d).style.display = "none"; }
}
function HideAllShowOne(d) {
var IDvaluesOfEachDiv = "userwants userskills usercomm userevents";

//-------------------------------------------------------------
IDvaluesOfEachDiv = IDvaluesOfEachDiv.replace(/[,\s"']/g," ");
IDvaluesOfEachDiv = IDvaluesOfEachDiv.replace(/^\s*/,"");
IDvaluesOfEachDiv = IDvaluesOfEachDiv.replace(/\s*$/,"");
IDvaluesOfEachDiv = IDvaluesOfEachDiv.replace(/  +/g," ");
var IDlist = IDvaluesOfEachDiv.split(" ");
for(var i=0; i<IDlist.length; i++) { HideContent(IDlist[i]); }
ShowContent(d); }
</script>