<% provide(:title, @user.name) %>
<script type="text/javascript">
function HideContent(d) {
document.getElementById(d).style.display = "none";
}
function ShowContent(d) {
document.getElementById(d).style.display = "block";
}
function ReverseDisplay(d) {
if(document.getElementById(d).style.display == "none") { document.getElementById(d).style.display = "block"; }
else { document.getElementById(d).style.display = "none"; }
}
function HideAllShowOne(d) {
var IDvaluesOfEachDiv = "userwants userskills usercomm userevents";

//-------------------------------------------------------------
IDvaluesOfEachDiv = IDvaluesOfEachDiv.replace(/[,\s"']/g," ");
IDvaluesOfEachDiv = IDvaluesOfEachDiv.replace(/^\s*/,"");
IDvaluesOfEachDiv = IDvaluesOfEachDiv.replace(/\s*$/,"");
IDvaluesOfEachDiv = IDvaluesOfEachDiv.replace(/  +/g," ");
var IDlist = IDvaluesOfEachDiv.split(" ");
for(var i=0; i<IDlist.length; i++) { HideContent(IDlist[i]); }
ShowContent(d);
}</script>

<div class="box">
  <h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
  </h1>
</div>

<% if (@user == current_user) || current_user.try(:admin?) %>
  <div class="box">
    <%= @user.email %>
  </div>
  <%= link_to "delete account", :user, method: :delete,
                                  data: { confirm: "You sure?" } %>
<% end %>
<section>
  <%= render 'shared/stats' %>
</section>
<%= render 'follow_form' if signed_in? %>
<br>
<div>
  <a href="javascript:HideAllShowOne('userevents')"><%= "#{@name_possessive}" %> Events</a> |
  <a href="javascript:HideAllShowOne('userwants')"><%= "#{@name_possessive}" %> Interests</a> |
  <a href="javascript:HideAllShowOne('userskills')"><%= "#{@name_possessive}" %> Specialties</a> |
  <a href="javascript:HideAllShowOne('usercomm')"><%= "#{@name_possessive}" %> Preferred Communications</a>
</div>
<div class="box">
  <div id="userevents" style="display:none;">
    <h3><%= "#{@name_possessive} Events" %> (<%= @user.events.count %>)</h3>
    <div>
      <% if @user.events.any? %>
        <ol>
          <%= render @events %>
        </ol>
        <%= will_paginate @events, container: false %>
      <% else %>
        <p><%= @name_none_posted %> not posted events.</p>
      <% end %>
    <%= link_to "create new event", new_event_path %>
    </div>
  </div>

  <div id="userwants" style="display:none;">
    <h3><%= "#{@name_possessive} Interests" %> (<%= @user.wants.count %>)</h3>
    <div>
      <% if @user.wants.any? %>
        <ol>
          <%= render @wants %>
        </ol>
        <%= will_paginate @wants, container: false %>
      <% else %>
        <p><%= @name_none_posted %> not posted any topics of interest.</p>
      <% end %>
    </div>
      <% if @user == current_user %>
        <div>
          <%= render 'shared/want_form' %>
        </div>
      <% end %>
  </div>

  <div id="userskills" style="display:none">
    <h3><%= "#{@name_possessive} Specialties" %> (<%= @user.skills.count %>)</h3>
    <div>
      <% if @user.skills.any? %>
        <ol>
          <%= render @skills %>
        </ol>
        <%= will_paginate @skills, container: false %>
      <% else %>
        <p><%= @name_none_posted %> not posted any specialties.</p>
      <% end %>
    </div>
    <% if @user == current_user %>
      <div>
        <%= render 'shared/skill_form' %>
      </div>
    <% end %>
  </div>

  <div id="usercomm" style="display:none">
    <h3>Preferred Methods of Communication (<%= @user.communications.count %>)</h3>
    <div>
      <% if @user.communications.any? %>
        <ol class="communications">
          <%= render @communications %>
        </ol>
        <%= will_paginate @communications, container: false %>
      <% else %>
          <p><%= @name_none_posted %> not posted any preferred methods of communication.</p>
      <% end %>
    </div>
    <% if @user == current_user %>
      <div>
        <%= render 'shared/communication_form' %>
      </div>
    <% end %>
  </div>
</div>