<% provide(:title, @user.name) %>
<div class="box">
  <h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
  </h1>
</div>

<div class="box">
  <% if @user.wants.any? %>
    <h3>What You Are Looking For (<%= @user.wants.count %>)</h3>
    <ol class="wants">
      <%= render @wants %>
    </ol>
    <%= will_paginate @wants %>
  <% end %>
  <div>
    <%= render 'shared/want_form' %>
  </div>
</div>

<div class="box">
  <% if @user.skills.any? %>
    <h3>Your Specialties (<%= @user.skills.count %>)</h3>
    <ol class="skills">
      <%= render @skills %>
    </ol>
    <%= will_paginate @skills %>
  <% end %>
  <div>
    <%= render 'shared/skill_form' %>
  </div>
</div>

<div class="box">
  <% if @user.communications.any? %>
    <h3>Your Preferred Method of Communication (<%= @user.communications.count %>)</h3>
    <ol class="communications">
      <%= render @communications %>
    </ol>
    <%= will_paginate @communications %>
  <% end %>
  <div>
    <%= render 'shared/communication_form' %>
  </div>
</div>
