<% if @index %>
  <% unless current_user?(skill.user) %>
  <li class="users">
    <span class="skill"><%= "#{skill.skill[0].upcase}#{skill.skill[1..-1].downcase}" %></span> -
    <span class="name"><%= link_to "#{skill.user.name}", user_path(skill.user_id) %></span> -
    <span class="priority">Level: <%= skill.level %></span>
    <span class="category"><%= " - #{skill.category.upcase}" unless skill.category.blank? %></span>
    <span class="tag"><%= " - \##{skill.tag}" unless skill.tag.blank? %></span>
    <span class="timestamp">
      Shared <%= time_ago_in_words(skill.created_at) %> ago.
    </span>
  </li>
  <% end %>
<% else %>
  <li class="users">
    <span class="skill"><%= "#{skill.skill[0].upcase}#{skill.skill[1..-1].downcase}" %></span> -
    <span class="priority">Level: <%= skill.level %></span>
    <span class="category"><%= " - #{skill.category.upcase}" unless skill.category.blank? %></span>
    <span class="tag"><%= " - \##{skill.tag}" unless skill.tag.blank? %></span>
    <span class="timestamp">
      Shared <%= time_ago_in_words(skill.created_at) %> ago.
    </span>
    <% if current_user?(skill.user) %>
      <%= link_to "delete", skill,  method: :delete,
                                    data: { confirm: "You sure?" },
                                    title: skill.skill %>
    <% end %>
  </li>
<% end %>
