<% provide(:title, 'User Specialties') %>
<h1>User Specialties</h1>
<div>
<% form_tag skills_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: "Search Specialties" %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
</div>

<div>
  <h3>All Specialties</h3>
  <% if @skills %>
    <ul class="users">
      <h5 style="display:inline">Sort By:</h5>
      <tr>
        <th><%= sortable "skill", "Specialties" %></th> -
        <th><%= sortable "level" %></th> -
        <th><%= sortable "category" %></th> -
        <th><%= sortable "tag" %></th>
      </tr>
      <%= render @skills %>
    </ul>
    <span class="pagination"><%= will_paginate @skills, container: false %></span>
  <% else %>
    <h5>No specialties found.</h5>
  <% end %>
</div>