<%= form_for(@skill) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :skill, "What skill or knowledge do you want to share with others?" %><br>
    <%= f.text_field :skill %>
  </div>
  <div class="field">
    <%= f.label :level, "How would your rate your expertise in this topic on a scale of 1-10 (10 being the highest)?" %><br>
    <%= f.collection_select :level, Skill::LEVEL, :to_int, :to_int %>
  </div>
  <div class="field">
    <%= f.label :tag, "Relevant tags:" %><br>
    <%= f.text_field :tag, placeholder: "(e.g. #rubyonrails, #doctorwho, etc.)" %>
  </div>
  <div class="field">
    <%= f.label :category, "Please enter a category for your specialty." %><br>
    <%= f.text_field :category, placeholder: "(e.g. comics, financial industry, etc.)" %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>