<!-- parital to show event basics for index and user events lists -->
<tr class="users">
  <td class="event"><strong><%= link_to "#{event.name[0].upcase}#{event.name[1..-1]}", event %></strong></td>
  <td class="event_index"><%= event.start %></td>
  <td class="event_index"><%= event.location %></td>
  <td class="event_index"><%= event.theme.theme %></td>
  <td class="event_index"><%= event.category.category %></td>
  <td class="event_index"><%= event.tags unless event.tags.blank? %></td>
  <% if current_user.admin? || current_user?(event.user) %>
    <td><small><%= link_to "edit", edit_event_path(event) %> |
    <%= link_to "delete", event, method: :delete,
                            data: { confirm: "You sure?" } %></small></td>
  <% end %>
</tr>
