<% provide(:title, 'Events') %>

<h2>Events</h2>

<div><%= render 'events/search' %></div>

<br>
<div>
  <% if @events %>
    <table class="users ">
      <tr style="font-size:1.2em">
        <th><%= sortable "name", "Name" %></th>
        <th><%= sortable "start", "Start Date" %></th>
        <th><%= sortable "location", "Location" %></th>
        <th><%= sortable "event.theme", "Theme" %></th>
        <th><%= sortable "event.category", "Category" %></th>
        <th><%= sortable "tags", "Tags" %></th>
      </tr>
    <!-- <ul class="users"> -->
      <%= render @events %>
    <!-- </ul> -->
  </table>
    <span class="pagination"><%= will_paginate @events, container: false %></span>

  <% else %>
    <h5>No specialties found.</h5>
  <% end %>
</div>

<%= link_to 'New Event', new_event_path %>
