<% provide(:title, @title) %>
<div class="row">
  <section>
    <%= render 'shared/attendance_stats' %>
    <% if current_user.attending?(@event) %>
      <%= render 'unattend' %>
    <% else %>
      <%= render 'attend' %>
    <% end %>
  </section>
  <br>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @attendees.any? %>
      <ul class="users">
        <%= render @attendees %>
      </ul>
      <%= will_paginate @attendees, container: false %>
    <% end %>
  </div>
</div>