<% provide(:title, "#{@event.name[0].upcase}#{@event.name[1..-1]}") %>

<h2 style="margin-left:-0.5em">
  <%= "#{@event.name[0].upcase}#{@event.name[1..-1]}" %>
</h2>

<div class='image_container'>
  <%= image_tag @event.image.url(:medium), class: 'img-rounded', id:"image" %>
</div>

<section class="attendance">
  <% if current_user.attending?(@event) %>
    <%= render 'unattend' %>
  <% else %>
    <%= render 'attend' %>
  <% end %>
</section>

<section class="attendance">
  <%= render 'events/attendance_stats' %>
</section>

<p>
  <%= @date_range %><br>
  <%= @recurrence %>
</p>

<p>
  <% if @event.location? %>
    <b><%= @event.location %></b><br>
  <% end %>
  <% if @event.address? %>
    <%= @event.address %><br>
  <% end %>
  <% if @event.address2? %>
    <%= @event.address2 %><br>
  <% end %>
    <%= "#{@event.city}, #{@event.state} #{@event.zipcode}" %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @event.contact %>
</p>

<p style="width:75%">
  <% if @event.description %>
    <strong>About:</strong><br>
    <%= @event.description %>
  <% end %>
</p>

<p>
  <!-- <strong>About:</strong><br> -->
  <b><%= "#{@event.theme[0].upcase}#{@event.theme[1..-1]}" %></b>
  <% if @event.category %>
    | <%= "#{@event.category[0].upcase}#{@event.category[1..-1]}" %>
  <% end %>
  <% if @event.subcategoryA %>
   | <%= @event.subcategoryA %>
  <% end %>
  <% if @event.subcategoryB %>
   - <%= @event.subcategoryB %>
   <% end %>
  <% if @event.subcategoryC %>
   - <%= @event.subcategoryC %>
  <% end %>
</p>

<% if @event.tags? %>
  <p>
    <strong>Tags:</strong>
    <%= @event.tags %>
  </p>
<% end %>

<% if @event.user_id == current_user.id %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'View All Events', events_path %>
