<p id="notice"><%= notice %></p>

<h2>
  <%= @event.name %>
</h2>

<p>
  <%= @event.start %> through <%= @event.stop %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Recurrence:</strong>
  <%= @recurrence %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @event.contact %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.theme %> |
  <%= @event.category %> -
  <%= @event.subcategoryA %> -
  <%= @event.subcategoryB %> -
  <%= @event.subcategoryC %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
