<script type="text/javascript">
function HideContent(d) {
document.getElementById(d).style.display = "none";
}
function ShowContent(d) {
document.getElementById(d).style.display = "block";
}
function ReverseDisplay(d) {
if(document.getElementById(d).style.display == "none") { document.getElementById(d).style.display = "block"; }
else { document.getElementById(d).style.display = "none"; }
}
function HideAllShowOne(d) {
var IDvaluesOfEachDiv = "wantform skillform";

//-------------------------------------------------------------
IDvaluesOfEachDiv = IDvaluesOfEachDiv.replace(/[,\s"']/g," ");
IDvaluesOfEachDiv = IDvaluesOfEachDiv.replace(/^\s*/,"");
IDvaluesOfEachDiv = IDvaluesOfEachDiv.replace(/\s*$/,"");
IDvaluesOfEachDiv = IDvaluesOfEachDiv.replace(/  +/g," ");
var IDlist = IDvaluesOfEachDiv.split(" ");
for(var i=0; i<IDlist.length; i++) { HideContent(IDlist[i]); }
ShowContent(d);
}</script>

<div>
  <% if signed_in? %>
  <% @user ||= current_user %>
    <h5><%= "Welcome, #{@user.name}" %></h5>
    <section>
      <%= render 'shared/stats' %>
    </section><br>

  <% end %>
</div><br>

<p>Welcome to Confab, a site for making connections at events and conferences of all kinds.  Lorem ipsum dolor sit amet, at ius tantas prompta, ius congue fastidii ad. An est quis erat, ei case audire facilisis sed, utamur verterem facilisi id pro. Option consetetur ei quo, velit partem omnium ei nam, commodo invidunt eos ut. Nec id convenire voluptaria, est inani admodum eu, sed exerci expetendis in.</p>

<p>Ipsum oblique ius eu, mel ne movet legere quidam, eam eu timeam temporibus conclusionemque. Ius et stet forensibus, vix electram liberavisse ea. Est elit ponderum in, sed velit aperiri facilis ad. Vide mazim legere nam ei, ius sint omittam facilisi et.</p>

<p>Duo ea nulla elaboraret, mea ad ullum honestatis. At labores praesent pri, vim disputando necessitatibus ex. Ignota constituto has ne. Pri sonet postea sententiae in, te eam omnium antiopam prodesset, cu est falli ignota alienum. Id adhuc assentior nec, vitae urbanitas ne sed.
</p>

<% if signed_in? %>
<% @user ||= current_user %>

<div class="box">
    <h3><%= "Your Upcoming Events" %></h3>
    <div class="users">
      <% if current_user.events.any? %>
        <ol>
          <%= render @events %>
        </ol>
        <span class="pagination"><%= will_paginate @events, container: false %></span>
      <% else %>
        <p>You do not have any events coming up.</p>
      <% end %>
      <p><%= link_to 'New Event', new_event_path %></span>
    </div>
</div>

  <div class="sidebar">
    <aside class="span4">
      <a href="javascript:HideAllShowOne('wantform')">Add a New Interest</a> |
      <a href="javascript:HideAllShowOne('skillform')">Add a New Specialty</a>
      <section id="wantform" style="display:none">
        <%= render 'shared/want_form' %>
      </section>
      <section id="skillform" style="display:none">
        <%= render 'shared/skill_form' %>
      </section>
    </aside>
  </div>

  <aside class="span4">
    <section>
      <% if current_user.wants.any? %>
        <h4>Your Interests</h4>
        <%= render 'shared/wantlist' %>
      <% end %>
    </section>
    <section>
      <% if current_user.skills.any? %>
        <h4>Your Specialties</h4>
        <%= render 'shared/skilllist' %>
      <% end %>
    </section>
  </aside>
<% else %>
  <p>Please <%= link_to 'sign in', signin_path %> to get started.</p>
<% end %>