<h1>Confab8 Demo App</h1>
<p>This is the home page. It could either be primarily dedicated to getting users to sign in/up or it could allow for browsing of various conferences currently on Confab.</p>

<% if signed_in? %>
  <aside class="span4">
    <section>
      <%= render 'shared/want_form' %>
    </section>
    <section>
      <%= render 'shared/skill_form' %>
    </section>
  </aside>

  <aside class="span4">
    <section>
      <%= render 'shared/wantlist' %>
    </section>
    <section>
      <%= render 'shared/skilllist' %>
    </section>
  </aside>
<% else %>
  <p>Please <%= link_to 'sign in', signin_path %> to get started.</p>
<% end %>