<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @arts_craft.name %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @arts_craft.parent_id %>
</p>

<%= link_to 'Edit', edit_arts_craft_path(@arts_craft) %> |
<%= link_to 'Back', arts_crafts_path %>
