<div class="navbar-inner">
  <nav>
    <h5><%= link_to "Home",    root_path %></h5>
    <h5><%= link_to "Help",    help_path %></h5>

    <% if signed_in? %>
      <li><%= link_to "Users", users_path %></li>
      <h5><%= link_to "Profile", current_user %></h5>
      <li><%= link_to "Settings", edit_user_path(current_user) %></li>
      <h5><%= link_to "Sign out", signout_path, method: "delete" %></h5>
    <% else %>
      <h5><%= link_to "Sign in", signin_path %></h5>
    <h5><%= link_to "Sign up", signup_path %></h5>
    <% end %>
  </nav>
</div>