<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <script type="text/javascript">
  function HideContent(d) {
  document.getElementById(d).style.display = "none";
  }
  function ShowContent(d) {
  document.getElementById(d).style.display = "block";
  }
  function ReverseDisplay(d) {
  if(document.getElementById(d).style.display == "none") { document.getElementById(d).style.display = "block"; }
  else { document.getElementById(d).style.display = "none"; }
  }
  function HideAllShowOne(d) {
  var IDvaluesOfEachDiv = "usersearch wantsearch skillsearch";

  //-------------------------------------------------------------
  IDvaluesOfEachDiv = IDvaluesOfEachDiv.replace(/[,\s"']/g," ");
  IDvaluesOfEachDiv = IDvaluesOfEachDiv.replace(/^\s*/,"");
  IDvaluesOfEachDiv = IDvaluesOfEachDiv.replace(/\s*$/,"");
  IDvaluesOfEachDiv = IDvaluesOfEachDiv.replace(/  +/g," ");
  var IDlist = IDvaluesOfEachDiv.split(" ");
  for(var i=0; i<IDlist.length; i++) { HideContent(IDlist[i]); }
  ShowContent(d);
  }</script>

<div id="container">
  <div class="header">
    <div id="search" class="navbar-inner">
      <div>
        <h4 style="display:inline">Search:</h4>
        <a href="javascript:HideAllShowOne('usersearch')">Users</a> |
        <a href="javascript:HideAllShowOne('wantsearch')">User Interests</a> |
        <a href="javascript:HideAllShowOne('skillsearch')">User Specialties</a>
      </div>
      <div id="usersearch" style="display:none">
        <%= render 'users/search' %>
      </div>
      <div id="wantsearch" style="display:none">
        <%= render 'wants/search' %>
      </div>
      <div id="skillsearch" style="display:none">
        <%= render 'skills/search' %>
      </div>
    </div>
    <div class="nav">
      <%= render 'layouts/header' %>
    </div>
  </div>
  <div class="content">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <div>
      <%= yield %>
    </div>
  </div>
  <%= debug(params) if Rails.env.development? %>
</div>

<footer><%= link_to "Home",    root_path %> | 
      <%= link_to "Help",    help_path %></footer>
</body>
</html>
