<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>

<body>
<div id="container">
  <div class="header">
    <div class="nav">
      <%= render 'layouts/header' %>
    </div>
    <div class="navbar-inner" style="display:inline">
      <h1><%= link_to "Confab", root_path %></h1>
    </div>
  </div>

  <span class="page-nav">
    <h4><%= link_to "Find Events", events_path %> | <%= link_to "Find Users", users_path %> | <%= link_to "Browse Users' Interests", wants_path %> | <%= link_to "Browse Users' Specialties", skills_path %></h4>
  </span>

  <div class="content">
    <% flash.each do |key, value| %>
      <div class="notice alert-<%= key %>"><%= value %></div>
    <% end %>

    <div>
      <%= yield %>
    </div>
  </div>

  <footer>
    <%= link_to "Home", root_path %> | 
    <%= link_to "Help", help_path %>
    <% if signed_in? %>
      <% if current_user.admin? %>
        | <%= link_to "Manage Themes", themes_path %>
        | <%= link_to "Manage Categories", categories_path %>
      <% end %>
    <% end %>
  </footer>
  
  <!-- debugger to check page statuses in development, hidden in production -->
  <%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
